<!DOCTYPE html>
<html>

<head>
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div>
        <form id="formInput" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name='file-image' id="fileInput" />
            <input type="submit" />
        </form>
    </div>
    <script src="script.js"></script>
</body>

</html>