<!DOCTYPE html>
<html>

<head>
    <title>ATS Score</title>
</head>

<body>
    <h1>Your ATS Score is:</h1>
    <h2 style="color: green;">
        <%= finalScore %>%
    </h2>

    <a href="/">Go Back</a>
</body>

</html>